//////////////////////////
// BOOTSTRAP OVERWRITES //
//////////////////////////
$container-max-widths: (
	sm: 1300px,
	md: 1300px,
	lg: 1300px,
	xl: 1300px,
	xxl: 1300px
);

$grid-gutter-width: 2.5rem;
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .37,
  2: $spacer * .5,
  3: $spacer * .694,
  4: $spacer * .833,
  5: $spacer,
  6: $spacer * 1.65,
  7: $spacer * 2.1,
  8: $spacer * 2.8,
) !default;

$primary: #CE6464;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;500;700&display=swap');

////////////
// CUSTOM //
////////////

body {
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
	font-size: 17px;
}

.fw-500 {
	font-weight: 500;
}

.large {
	font-size: 20px;
}

.extra-large {
	font-size: 25px;
}

h4 {
	font-size: 18px;
}

//////////////
// SECTIONS //
//////////////

section {
	h2, h3, em {
		color: $primary;
	}
	hr {
		height: 2px !important;
		color: $primary;
		opacity: 1;

	}
}

.icon-text-list p {
	word-break: break-all;
}

.bullet-point-red,
.bullet-point-white {
	position: absolute;
	border-radius: 9999px;
}

.bullet-point-red {
	background-color: $primary;
	top: 10px;
	left: 7px;
	width: 8px;
	height: 8px;
}
.bullet-point-white {
	background-color: white;
	top: 11px;
	left: 9px;
	width: 5px;
	height: 5px;
}